{% include 'header.html'%}
<div class="container flow-text">
    <h4>About</h4><hr/>
    <p>
    MetOffice Project Automatically downloads weather data such as 
    <ol>
        <li>Maximum Temperature</li>
        <li>Minimum Temperature</li>
        <li>Average Temperature</li>
        <li>Rainfall</li>
        <li>Sunshine</li>
    </ol>
    on a click of a button, for the following countries
    <ol>
        <li>UK</li>
        <li>England</li>
        <li>Scotland</li>
        <li>Wales</li>
    </ol>
    </p>
    It also provides options to visualize data in form of charts, which will enhance analyst to compare data.
</div>

{% include 'footer.html' %}