<style>
    html {
        font-family: GillSans, Calibri, Trebuchet, sans-serif;
        }
</style>
      
<h3>Guide</h3>
<ol class="flow-text">
    <li>
        <strong>Load Database</strong><br/>
        Loads Database for the first time, downloads data from MetOffice and stores it in Database for future use.
    </li>
    <li>
        <strong>Update Database</strong><br/>
        No need to load the whole database everytime when you need to add latest values. <em>Update database</em> will update only the latest data. 
    </li>
</ol>